## New Aviation Low Risk Aircraft Purchase Project

This is the start of my low risk aircrafts selection for purchase analysis project.  
In this section, I import all the key Python libraries I will use to load, explore, understand, and clean the **AviationData.csv** dataset.

In [2]:
# Importing essential libraries for data analysis

import pandas as pd          # For loading, cleaning, and manipulating data
import numpy as np           # For numerical operations
import matplotlib.pyplot as plt  # For creating visualizations
import seaborn as sns        # For advanced statistical plots

# Setting a default plot style for cleaner visuals (optional)
plt.style.use('ggplot')

## Loading AviatioData.csv into a pandas dataframe
The code below reads the contents of **AviationData.csv into a pandas DataFrame called df**.
- Using specific options to handle character encoding :The code is instructed to interpret the bytes in the file using the latin1 (ISO-8859-1) standard, to avoid standard UTF-8 decoding failure.
- Using specific options to handle memory usage: This code tells pandas to process the entire file at once into memory.

In [3]:
# loading AviationData.csv to pandas and preview its structure
df = pd.read_csv('Data/AviationData.csv', encoding = "latin1", low_memory=False)    # "latin1 handles special characters well"
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

## Inspect and clean metadata
- Show full column names and their types

In [4]:
#show columns and data types
print("Shape:", df.shape)
display(df.head(10))
print(df.dtypes)

Shape: (88889, 31)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
5,20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",United States,42.445277,-70.758333,NaN,NaN,...,NaN,Air Canada,NaN,NaN,1.0,44.0,VMC,Climb,Probable Cause,19-09-2017
6,20001218X45446,Accident,CHI81LA106,1981-08-01,"COTTON, MN",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,IMC,Unknown,Probable Cause,06-11-2001
7,20020909X01562,Accident,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,NaN,NaN,NaN,BLACKBURN AG STRIP,...,Personal,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,01-01-1982
8,20020909X01561,Accident,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",United States,NaN,NaN,N58,HANOVER,...,Business,NaN,0.0,0.0,0.0,2.0,IMC,Landing,Probable Cause,01-01-1982
9,20020909X01560,Accident,MIA82DA029,1982-01-01,"JACKSONVILLE, FL",United States,NaN,NaN,JAX,JACKSONVILLE INTL,...,Personal,NaN,0.0,0.0,3.0,0.0,IMC,Cruise,Probable Cause,01-01-1982

Event.Id                   object
Investigation.Type         object
Accident.Number            object
Event.Date                 object
Location                   object
Country                    object
Latitude                   object
Longitude                  object
Airport.Code               object
Airport.Name               object
Injury.Severity            object
Aircraft.damage            object
Aircraft.Category          object
Registration.Number        object
Make                       object
Model                      object
Amateur.Built              object
Number.of.Engines         float64
Engine.Type                object
FAR.Description            object
Schedule                   object
Purpose.of.flight          object
Air.carrier                object
Total.Fatal.Injuries      float64
Total.Serious.Injuries    float64
Total.Minor.Injuries      float64
Total.Uninjured           float64
Weather.Condition          object
Broad.phase.of.flight      object
Report.Status              object
Publication.Date           object
dtype: object

### Cleaning and Standardizing Column Names

To ensure consistency throughout the analysis, the column names in the dataset need to be standardized.  
The original dataset contains column names with spaces, dots, and mixed formatting, which can lead to errors or inconvenient referencing during analysis.

In this step, I:
- Strip whitespace  
- Convert all column names to lowercase  
- Replace symbols with underscores  
- Create clean and Python-friendly labels  

This prepares the dataset for efficient cleaning, transformation, and visualization in the next stages.

In [5]:
# normalise column names to snake_case
def clean_col(c):
    """"
    Cleans column names by:
    - Stripping whitespace
    - Replacing spaces, dots, hyphens, and slashes with underscores
    - Converting to lowercase
    """
    return (c.strip()
           .replace(" ", "_")
           .replace(".", "")
           .replace("/", "_")
           .replace("-", "_")
           .lower())
# apply the cleaning function to all columns        
df.columns = [clean_col(c) for c in df.columns]
# Display updated column names
print("clean columns:", df.columns.tolist())

clean columns: ['eventid', 'investigationtype', 'accidentnumber', 'eventdate', 'location', 'country', 'latitude', 'longitude', 'airportcode', 'airportname', 'injuryseverity', 'aircraftdamage', 'aircraftcategory', 'registrationnumber', 'make', 'model', 'amateurbuilt', 'numberofengines', 'enginetype', 'fardescription', 'schedule', 'purposeofflight', 'aircarrier', 'totalfatalinjuries', 'totalseriousinjuries', 'totalminorinjuries', 'totaluninjured', 'weathercondition', 'broadphaseofflight', 'reportstatus', 'publicationdate']

###  Parsing Date Columns and Assessing Missing Values

Aviation accident data is highly time-dependent, and accurate date parsing is essential for trend analysis, time-series evaluations, and risk assessments.  
In this step:

- I identify columns that are likely to contain date information based on their names.
- I convert these columns into proper datetime format using `pandas.to_datetime()`.
- I generate a missing values overview to understand data quality and determine which columns will require cleaning or imputation.
- I create a temporary working copy of the dataset for further cleaning steps.

This ensures that the dataset is ready for chronological analysis and helps identify potential issues early in the workflow.

In [6]:
# identify potential date columns by name
date_columns = [col for col in df.columns if "date" in col]
print("Detected date columns:", date_columns)

Detected date columns: ['eventdate', 'publicationdate']

In [7]:
#convert detected date columns to datetime format
for col in date_columns:
    df[col] = pd.to_datetime(df[col], errors="coerce")

In [8]:
# preview the eventdate column
df['eventdate']

0       1948-10-24
1       1962-07-19
2       1974-08-30
3       1977-06-19
4       1979-08-02
           ...
88884   2022-12-26
88885   2022-12-26
88886   2022-12-26
88887   2022-12-26
88888   2022-12-29
Name: eventdate, Length: 88889, dtype: datetime64[ns]

In [9]:
# missing values overview
missing_summary = (
   df.isna()                   #gives proportion of missing entries per column
     .mean() * 100                  #number of missing values/total rows to get the proportion of missing values
)       
missing_summary = missing_summary.sort_values(ascending=False).round(2)
     
print("\n Ordered Columns with Highest Missing Percentages:")
print(missing_summary.head(31))

 Ordered Columns with Highest Missing Percentages:
schedule                85.85
aircarrier              81.27
fardescription          63.97
aircraftcategory        63.68
longitude               61.33
latitude                61.32
airportcode             43.47
airportname             40.61
broadphaseofflight      30.56
publicationdate         15.49
totalseriousinjuries    14.07
totalminorinjuries      13.42
totalfatalinjuries      12.83
enginetype               7.96
reportstatus             7.18
purposeofflight          6.97
numberofengines          6.84
totaluninjured           6.65
weathercondition         5.05
aircraftdamage           3.59
registrationnumber       1.48
injuryseverity           1.12
country                  0.25
amateurbuilt             0.11
model                    0.10
make                     0.07
location                 0.06
eventdate                0.00
accidentnumber           0.00
investigationtype        0.00
eventid                  0.00
dtype: float64

In [10]:
# Save a cleaned version of the dataset
df.to_csv("Data\AviationData_working.csv", index=False)    #snapshot and saving data manipulation process

In [11]:
# preserving the original AviationData.csv
df_cleaned = pd.read_csv("Data\AviationData_working.csv",encoding = "latin1", low_memory=False)
df.head()

,eventid,investigationtype,accidentnumber,eventdate,location,country,latitude,longitude,airportcode,airportname,...,purposeofflight,aircarrier,totalfatalinjuries,totalseriousinjuries,totalminorinjuries,totaluninjured,weathercondition,broadphaseofflight,reportstatus,publicationdate
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaT
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,1996-09-19
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,2007-02-26
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,2000-12-09
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,1980-04-16

## Handling Missing Data

In this step, we remove columns with extremely high missing values (50% and above) because they do not provide reliable information for risk assessment. The remaining columns will be cleaned later using appropriate imputation techniques.

In [12]:
#xalculate the missing percentage for df_cleaned
missing_percent_cleaned = (
    df_cleaned.isna().mean().sort_values(ascending=False)*100
).round(2)

#identify columns above 50 threshold
columns_to_drop = missing_percent_cleaned[missing_percent_cleaned > 50].index.tolist()
print("Columns dropped due to high missing values:")
columns_to_drop

Columns dropped due to high missing values:

['schedule',
 'aircarrier',
 'fardescription',
 'aircraftcategory',
 'longitude',
 'latitude']

In [13]:
df_cleaned = df_cleaned.drop(columns=columns_to_drop)      #overwrites df-cleaned by dropping the columns

In [14]:
df_cleaned.shape       #preview the new shape

(88889, 25)

In [15]:
df_cleaned.to_csv("Data/AviationData_working.csv", index=False)

### Inspect Outliers in Injury Counts

Outliers in injury and fatality counts can indicate data entry issues (typos) or rare catastrophic events.  
We inspect outliers using IQR, this formula finds data points that fall to far from the central bulk of the data(Q3-Q1) for the key safety-related numeric fields, but we **do not** automatically remove records — each outlier will be reviewed before any deletion or correction.

In [16]:
# candidate numeric columns
possible_numeric_cols = [
    'totalfatalinjuries', 'totalseriousinjuries', 'totalminorinjuries','totalinjured',
    'fatal', 'serious','minor','uninjured','totalinjuries'
]
numeric_cols = [c for c in possible_numeric_cols if c in df_cleaned.columns]
print("Numeric columns used for outlier check:",
      numeric_cols)

Numeric columns used for outlier check: ['totalfatalinjuries', 'totalseriousinjuries', 'totalminorinjuries']

In [17]:
#compute IQR-based outlier counts
Q1 =  df_cleaned[numeric_cols].quantile(0.25)
Q3 = df_cleaned[numeric_cols].quantile(0.75)
IQR = Q3 - Q1

outlier_mask = ((df_cleaned[numeric_cols] < (Q1 - 1.5 * IQR)) |
               (df_cleaned[numeric_cols] > (Q3 + 1.5 * IQR)))

outlier_counts = outlier_mask.sum().sort_values(ascending=False)
outlier_counts

totalfatalinjuries      17813
totalminorinjuries      15502
totalseriousinjuries    13090
dtype: int64

## Outlier Check Summary

When reviewing injury data, many rows were marked as “outliers.” This happened because most accidents have zero injuries, while a smaller number have very high injury counts. These high-injury cases are real events, not mistakes.

## Key Point

These values are important for understanding accident severity, so I will keep them in the dataset rather than remove them.

### Feature Engineering: Build risk-relevant features
## Create risk-focused fields

We create features that directly support aircraft risk scoring:
- `accident_year` and `accident_month` for time trends
- `total_injuries` (add columns if needed)
- `fatality_rate` = total_fatal / (total_injuries + 1) — a direct per-event risk proxy
- `is_amateur_built` normalized boolean

In [18]:
# feature engineering for risk analysis|year and month
if 'eventdate' in df_cleaned.columns:
    df_cleaned['accident_year'] = pd.to_datetime(df_cleaned['eventdate'],errors='coerce').dt.year
    df_cleaned['accident_month'] = pd.to_datetime(df_cleaned['eventdate'], errors='coerce').dt.month
else:
    print("Warning: eventdate not found.")

In [21]:
#continuation of feature engineering
#ensure totals
injury_cols_candidates = {
    'fatal_col': [c for c in ['totalfatalinjuries', 'fatal', 'total_fatal'] if c in df_cleaned.columns],
    'serious_col': [c for c in ['totalseriousinjuries', 'serious'] if c in df_cleaned.columns],
    'minor_col': [c for c in ['totalminorinjuries', 'minor'] if c in df_cleaned.columns],
    'uninjured_col': [c for c in ['totaluninjured', 'uninjured'] if c in df_cleaned.columns],
    'total_col': [c for c in ['totalinjuries', 'total_injuries'] if c in df_cleaned.columns]         #compute total_injuries as sum of known injury columns if totalinjuries not present

}

In [22]:
# pick first available column names or None
fatal_col = injury_cols_candidates['fatal_col'][0] if injury_cols_candidates['fatal_col'] else None
serious_col = injury_cols_candidates['serious_col'][0] if injury_cols_candidates['serious_col'] else None
minor_col = injury_cols_candidates['minor_col'][0] if injury_cols_candidates['minor_col'] else None
uninjured_col = injury_cols_candidates['uninjured_col'][0] if injury_cols_candidates['uninjured_col'] else None
total_col = injury_cols_candidates['total_col'][0] if injury_cols_candidates['total_col'] else None

print("Using columns:", {'fatal': fatal_col, 'serious': serious_col, 'minor': minor_col, 'uninjured': uninjured_col, 'total': total_col})

Using columns: {'fatal': 'totalfatalinjuries', 'serious': 'totalseriousinjuries', 'minor': 'totalminorinjuries', 'uninjured': 'totaluninjured', 'total': None}

In [30]:
# I convert selected columns to numeric even though i had converted earlier just to be safe
for c in [fatal_col, serious_col, minor_col, uninjured_col, total_col]:
    if c:
        df_cleaned[c] = pd.to_numeric(df_cleaned[c], errors='coerce')

In [31]:
# Create a total injuries column since it is missing
df_cleaned['total_injuries'] = (
    df_cleaned['totalfatalinjuries'].fillna(0) +
    df_cleaned['totalseriousinjuries'].fillna(0) +
    df_cleaned['totalminorinjuries'].fillna(0)
)

In [32]:
# Create fatality column name
if fatal_col is None:
    # fallback: try to derive from available injury fields (if not possible, set NaN)
    df_cleaned['fatal'] = pd.to_numeric(df_cleaned.get('fatal', None), errors='coerce')
else:
    df_cleaned['fatal'] = pd.to_numeric(df_cleaned[fatal_col], errors='coerce')

In [33]:
# Fatality rate: fatal / (total_injuries + 1) to avoid division by zero
df_cleaned['fatality_rate'] = df_cleaned['totalfatalinjuries'] / (df_cleaned['total_injuries'].fillna(0) + 1)
df_cleaned['fatality_rate']

0        0.666667
1        0.800000
2        0.750000
3        0.666667
4        0.250000
           ...
88884    0.000000
88885    0.000000
88886    0.000000
88887    0.000000
88888    0.000000
Name: fatality_rate, Length: 88889, dtype: float64

In [34]:
# Normalize amateur-built flag
if 'amateurbuilt' in df_cleaned.columns:
    df_cleaned['is_amateur_built'] = df_cleaned['amateurbuilt'].astype(str).str.lower().isin(['y', 'yes', 'true', '1'])
else:
    df_cleaned['is_amateur_built'] = False

In [35]:
# confirm the sanity of the created columns for feature analysis
df_cleaned[['accident_year','accident_month','fatal','total_injuries','fatality_rate','is_amateur_built']].head()

,accident_year,accident_month,fatal,total_injuries,fatality_rate,is_amateur_built
0,1948,10,2.0,2.0,0.666667,False
1,1962,7,4.0,4.0,0.800000,False
2,1974,8,3.0,3.0,0.750000,False
3,1977,6,2.0,2.0,0.666667,False
4,1979,8,1.0,3.0,0.250000,False